<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="mainPu" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainPu2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainNonTXPu" transaction-type="RESOURCE_LOCAL">
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
        </properties>
    </persistence-unit>

    <persistence-unit name="mainPu-2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainPu2-2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainNonTXPu-2" transaction-type="RESOURCE_LOCAL">
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>

    <persistence-unit name="mainPu-3" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainPu2-3" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainNonTXPu-3" transaction-type="RESOURCE_LOCAL">
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>

    <persistence-unit name="mainPu" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainPu2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainNonTXPu" transaction-type="RESOURCE_LOCAL">
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>

    <persistence-unit name="mainPu-2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainPu2-2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainNonTXPu-2" transaction-type="RESOURCE_LOCAL">
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>

    <persistence-unit name="mainPu-3" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainPu2-3" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="mainNonTXPu-3" transaction-type="RESOURCE_LOCAL">
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>


    <persistence-unit name="10-19-mainPu" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="10-19-mainPu2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="10-19-mainNonTXPu" transaction-type="RESOURCE_LOCAL">
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>

    <persistence-unit name="10-19-mainPu-2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="10-19-mainPu2-2" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="10-19-mainNonTXPu-2" transaction-type="RESOURCE_LOCAL">
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>

    <persistence-unit name="10-19-mainPu-3" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="10-19-mainPu2-3" transaction-type="JTA">
        <jta-data-source>java:jboss/datasources/ExampleDS</jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>
    <persistence-unit name="10-19-mainNonTXPu-3" transaction-type="RESOURCE_LOCAL">
        <non-jta-data-source>java:jboss/datasources/ExampleDS</non-jta-data-source>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.DataTypes2</class>
        <class>org.jboss.as.test.integration.jpa.hhh18901.Grade</class>
        <properties>
            <property name="jboss.as.jpa.classtransformer" value="false" />
        </properties>
    </persistence-unit>


</persistence>
